@import "tailwindcss";

@theme {
  --font-sans: var(--font-sequel-sans), var(--font-geist-sans), sans-serif;
  --font-serif: var(--font-forrest), serif;
  
  
  --color-brand-primary: #006148;
  --color-brand-secondary: #CBEC8A;
  --color-brand-accent: #FFFC88;
  --color-brand-bg: #FFFCD2;
}

:root {
  --background: var(--color-brand-bg);
  --foreground: var(--color-brand-primary);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  background-attachment: fixed;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Tipografía de marca para títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

